<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteRule ^\.git /index.html [L]
  RewriteRule ^\.htaccess /index.html [L]
  RewriteRule ^\assets$ /index.html [L]

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule . /index.html [L]

  Header unset ETag
  FileETag None
</IfModule>