// Here you can add other styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding-bottom: 60px;
}

.container-fluid {
  width: 100%;
}

h1,
h2 {
  text-align: center;
}

h1 {
  background-color: #f32d17;
  color: white;
  padding: 20px;
}

.center-elements {
  padding: 16px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-grow: 1 1 0;
  justify-content: center;
}

#trackingNumber {
  padding: 8px;
  margin-right: 5px;
  width: 250px;
  max-width: 100%;
}

button {
  padding: 10px 20px;
  background-color: #f32d17;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

button:hover {
  background-color: #e22b16;
}

#shipment-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

#shipment-info h2,
#shipment-info p {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

#history-table {
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  border-collapse: collapse;
  text-align: center;
}

#history-table th,
#history-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

#history-table th {
  background-color: #da0000;
  color: white;
}

#history-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

#history-table tr:hover {
  background-color: #00e1fffa;
}

.navbar {
  padding: 15px;
  background-color: #f32517;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #ffffff !important;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: white !important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #cc2014;
}

.navbar-toggler {
  border: none;
  color: white;
}

.status {
  font-weight: bold;
}

.status.in-transit {
  color: #ff9800;
}

.status.delivered {
  color: #1d97bd;
}

.status.pending {
  color: #f44336;
}

.date {
  font-style: italic;
}

.progress-bar {
  background: #e0e0e0;
  border-radius: 20px;
  overflow: hidden;
  height: 10px;
  margin-top: 1rem;
}

.progress {
  background: #3f51b5;
  height: 100%;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

@media (max-width: 768px) {
  .navbar-nav .nav-link {
    text-align: center;
  }

  .center-elements input,
  .center-elements button {
    width: 100%;
  }

  #history-table {
    width: 100%;
  }

  #trackingNumber {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  #history-table th,
  #history-table td {
    padding: 8px;
  }
}
